@import "bourbon/bourbon";
@import "neat/neat";
@include font-face("cloudworld", "font/cloudworld", $file-formats: ttf);
@include font-face("raleway-bold", "font/Raleway-Bold", $file-formats: ttf);
@include font-face("raleway", "font/Raleway-Regular", $file-formats: ttf);
@include font-face("FontAwesome", "font/fontawesome-webfont", $file-formats: ttf);

$brand-dark-blue: #354052;
$brand-pink: #e91a61;

html, body {
  overflow-x: hidden;
  margin: 0px;
}

.container {
  @include outer-container;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 70px;
  background: shade(#1a61e9, 20%);

  .logo {
    font-family:: "cloudworld";
    font-size: 40px;
    color: #fff;
    flex: 1;
    order: 1;
    text-align: center;
    .us {
      color: $brand-pink;
    }
  }
}

.section-1 {
  @include background-image(linear-gradient(#1a61e9, darken(#1a61e9, 5%)));

.headtagline {
  @include outer-container;
  padding-top: 40px;

  .copy {
    @include span-columns(5);
    padding-bottom: 40px;
    .promise {
      font-family: "raleway-bold";
      font-size: 32px;
      padding-bottom: 30px;
      color: #fff;
    }
    .promise-explain {
      font-family: "raleway";
      font-size: 20px;
      color: shade(#fff, 5%);
      .bold {
        font-family: "raleway-bold";
      }
    }
  }
  .screenshot {
    @include span-columns(7);
    max-height: 400px;
    padding-left: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
}

.section-2 {
  background: #eee;
  .feature-list {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #eee;
    @include outer-container;
    display: flex;
    flex-direction: row;
    align-items: center;

    .feature-1 {
      padding-right: 10px;
      background: #eee;
      .feature-header {
        font-family: "raleway-bold";
        font-size: 20px;
        padding-bottom: 10px;
      }
      .feature-icon {
        width: 50%;
        margin: auto;
        padding-bottom: 10px;
      }
      font-family: "raleway";
      font-size: 16px;
      flex: 1;
      order: 1;
      text-align: center;
    }
    .feature-2 {
      background: #eee;
      padding-left: 10px;
      padding-right: 10px;
      font-family: "raleway";
      font-size: 16px;
      flex: 1;
      order: 2;
      text-align: center;
      .feature-header {
        font-family: "raleway-bold";
        font-size: 20px;
        padding-bottom: 10px;
      }
    }
    .feature-3 {
        padding-left: 10px;
        background: #eee;
        .feature-header {
          font-family: "raleway-bold";
          font-size: 20px;
          padding-bottom: 10px;
        }
        font-family: "raleway";
        font-size: 16px;
        flex: 1;
        order: 3;
        text-align: center;
      }
  }
}
